@import url("https://fonts.googleapis.com/css?family=Oxanium:400,500");

* {
  color: {{fontColor}};
  font-family: {{fontFamily}}, sans-serif;
  font-size: {{fontSize}}px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stages-amount {
  margin: 20px 20px 8px;
}

.stages-amount__goal {
  font-size: calc({{fontSize}}px - {{fontSize}}px * 0.4);
}

.stages-progress-bar {
  background-color: {{progressBackgroundColor}};
  border: 1px solid {{progressBorderColor}};
  border-radius: {{progressBorderRadius}}px;
  display: none;
  height: max-content;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
}

.stages-progress-bar .stages-progress-bar__content {
  background-color: {{progressBarColor}};
  color: {{progressBarFontColor}};
  display: block;
  font-size: {{progressBarFontSize}}px;
  height: 100%;
  padding: 5px 0;
  text-align: end;
  width: 0;
}

.stages-progress-bar .progress-bar__content::after {
  content: '';
  display: inline;
  padding: 4px;
}
